Repository PIReTship/bookdata-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, dprint

rustfmt:
  name: format rust
  entry: rustfmt --edition 2021
  language: system

dprint:
  name: format configuration files
  entry: dprint fmt --allow-no-files
  language: node
  additional_dependencies:
  - dprint

lock
  book-links/dvc.lock
Due: none

fix mutable write
  src/graph/model.rs
Due: rustfmt

relock
  book-links/dvc.lock
Due: none

ignore ipynb
  .pre-commit-config.yaml
Due: dprint

fix name
  src/cli/bx/cluster.rs
Due: rustfmt

auto-format yaml
  .vscode/settings.json
Due: none

update minimum quarto
  pixi.toml
Due: dprint

document some history
  docs/history.md
Due: none

document pixi
  docs/history.md
Due: none

switch to brand.yml
  docs/_brand.yml
  docs/_quarto.yml
  docs/tweaks.scss
Due: dprint

plex mono
  docs/_brand.yml
Due: dprint

remove unused font
  docs/_brand.yml
Due: dprint

update environment setup.
  docs/using/setup.md
Due: none

document pipeline
  docs/using/sources.md
  docs/using/storage.md
  pixi.toml
Due: dprint

fix commands
  docs/using/running.md
  pixi.toml
Due: dprint

auto-format
  pixi.lock
  pixi.toml
  tasks.py
Due: dprint

improve pipeline formatting
  tasks.py
Due: none

README update
  README.md
Due: none

document dev setup
  docs/using/setup.md
Due: none

update docs
  docs/data/ids.qmd
Due: none

a bunch of nice docs and simplification
  az2014/dvc.jsonnet
  az2018/dvc.jsonnet
  book-links/dvc.jsonnet
  bookdata.libsonnet
  bx/dvc.jsonnet
  data/dvc.jsonnet
  docs/data/goodreads.md
  docs/data/index.qmd
  docs/history.md
  docs/implementation/pipeline.md
  docs/using/sources.md
  dvc.jsonnet
  goodreads/dvc-clusters.jsonnet
  goodreads/dvc-scan.jsonnet
  goodreads/dvc-works.jsonnet
  goodreads/dvc.jsonnet
  loc-mds/dvc.jsonnet
  openlibrary/dvc.jsonnet
  viaf/dvc.jsonnet
Due: none

pipeline
  docs/implementation/pipeline.md
Due: none

fix up GR
  docs/data/goodreads.qmd
  docs/data/index.qmd
  docs/history.md
  docs/implementation/pipeline.md
Due: none

simplify
  docs/data/amazon.qmd
Due: none

tweak up Amazon docs
  docs/data/amazon.qmd
Due: none

fix dprint
  tasks.py
Due: none

update audit reports
  docs/reports/audit-cluster-stats.ipynb
  docs/reports/audit-gender-changes.ipynb
Due: none

fix EOL
  .pre-commit-config.yaml
Due: dprint

set version
  Cargo.toml
Due: dprint

Path conditions:
  rustfmt: any of: \.rs$
  dprint: any of: \.(yaml|yml)$, \.toml$
